<div
  class="d-flex justify-content-between align-items-center mb-4 alert"
  [ngClass]="{
    'alert-success': todo.done,
    'alert-danger': !todo.done
  }"
>
  {{ idx + 1 }}.-
  {{ todo.body }}
  <div>
    <button (click)="changeState()" type="button" class="btn btn-success me-2">
      <fa-icon [icon]="faCheck"></fa-icon>
      Hecho
    </button>
    <button (click)="deleteTodo(idx)" type="button" class="btn btn-danger">
      <fa-icon [icon]="faTrash"></fa-icon>
      Borrar
    </button>
  </div>
</div>
