<ul class="list-group">
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center mb-4">
      {{ todo.done }}
      {{ idx + 1 }}.-
      {{ todo.body }}
      <div>
        <button type="button" class="btn btn-warning me-2">
          <fa-icon [icon]="faPenToSquare"></fa-icon>
          Editar
        </button>
        <button type="button" class="btn btn-danger">
          <fa-icon [icon]="faTrash"></fa-icon>
          Borrar
        </button>
      </div>
    </div>
  </li>
</ul>
